<style>
    h1 {color: #7236F2;}
    p {color: #9E76F3;}
    p2 {color: #FF00EB;}
    body {background-color: #82E9F1;}
    div {color: #F57AF3;}
    
    a:hover {color: blue;}
    h1: hover {color: red;}
    
    h1 {
	text-align: center;
         }
    
    img {
    	display: block;
    	margin-left: auto;
    	margin-right: auto;
	 }
    
    .home {
    	background-color: #D900FF;
         }
    
    
    ul {
    	list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
         }
    
    li {
    	float: left;
         }
    
    li a {
    	display: block;
        color: white;
        text-align: center;
        padding: 14px 30px
         }
    
    li a:hover:not(.home) {
    	background-color: #D86EEA
         }
</style>
